@media screen and (max-width:600px) {
   
    .section{
        padding: 3rem 2rem;
    }
   header{
    padding: 0;
   }
    header .right-header{
        padding: 2rem !important;
        
    }


.theme-btn{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.sec1 .header-content{
grid-template-columns: 1fr; 
padding-bottom:5rem;

.left-header{
    .h-shape{
      display: none;
    }
    .image{
        width: 90%;
        margin: 0 auto;
    }
}
.right-header{
    grid-row:1 ;
    width: 90%;
    margin: 0 auto;
    .name{
        font-size: 2.5rem;
    }
}
}


.controlls{
    top: auto;
    bottom: 0%;
    left: 50%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey5);
    .controll{
        margin: 1rem 0.3rem;
    }

}


    .main-title{
        
        h2{
            font-size: 2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .bg-text{
                font-size: 4rem;
            }
        }
      
    }

    .about-container{
        grid-template-columns: 1fr;
        justify-content: center;

        .left-about{
            padding: 0;
            text-align: justify;
            .btn-con{
                align-items: center;
                justify-content: center;
            }
        }
        .right-about{
            margin-top: 2rem;
            grid-gap: 1rem;
        }
        .about-stats{
            .timeline{
                grid-template-columns: 1fr;
            }
        }
    }

  .portfolio  .portfolios{
        grid-template-columns: repeat(2,1fr);

        .hover-item .icon{
            width: 35px;
            height: 35px;
            i{
                font-size: 1rem;
            }
        }
    }

    .blogs-content .blogs{

        grid-template-columns: repeat(1,1fr);
        padding-bottom: 10rem;
    }
    .contact-content-con{
        flex-direction: column-reverse;
     
    }
}